/* setup --------------------------------------------------*/
@font-face {
  font-family: knot;
  src: url("knot-brk/knot.ttf");
}
.container {
  position: relative;
  z-index: -1;
  margin-left:auto;
  margin-right:auto;
  width:1350px;
  overflow:hidden;
  height: 850px;
  margin-top: 0;
}

/* text ----------------------------------------------------*/
.knot{
  font-size: 40px;
  font-family: knot;
}
.information{
  font-size:70px;
  float: right;
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: knot;
}
.subtext{
  font-size:18px;
  z-index: 1;
  text-align: center;
  font-weight: bold;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  font-style: italic;
}
.right{
  text-align: right;
}
.back{
  padding-top: 50px;
  padding-right: 30px;
}
.contact{
  padding-left: 30px;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  font-weight: normal;
  width: 120px;
  background-color: #696969;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  left: 110%;
  font-size: 15px;
  font-style: normal;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  font-weight: normal;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent #696969 transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*video and images ----------------------------------------------------*/
.beltscroll{
  position: relative;
  z-index: -1;
  float: right;
  margin: 0 0 0 0;
  top: -800px;
  right: -55px;
  margin-bottom: -500px;
}
.instagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.email {
  padding-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a {
  display: block;
}
